<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
version="2.5">
    <session-config>
        <session-timeout>30</session-timeout> 
        <cookie-config>
            <http-only>false</http-only>
        </cookie-config>
    </session-config>
    <servlet>
        <servlet-name>adminauth</servlet-name>
        <servlet-class>service.auth.AdminLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminauth</servlet-name>
        <url-pattern>/auth/admin/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>usersignup</servlet-name>
        <servlet-class>service.auth.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>usersignup</servlet-name>
        <url-pattern>/auth/user/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userauth</servlet-name>
        <servlet-class>service.auth.UserLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userauth</servlet-name>
        <url-pattern>/auth/user/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>service.auth.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>transaction</servlet-name>
        <servlet-class>service.user.Transaction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>transaction</servlet-name>
        <url-pattern>/user/transaction</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>withdraw</servlet-name>
        <servlet-class>service.user.Withdraw</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>withdraw</servlet-name>
        <url-pattern>/user/withdraw</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>otp</servlet-name>
        <servlet-class>service.auth.Otp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>otp</servlet-name>
        <url-pattern>/auth/user/otp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>evalauth</servlet-name>
        <servlet-class>service.auth.EvalAuth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>evalauth</servlet-name>
        <url-pattern>/auth/user/secret</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>record</servlet-name>
        <servlet-class>service.record.GenerateRecord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>record</servlet-name>
        <url-pattern>/record/generate</url-pattern>
    </servlet-mapping>
    <!--USER API Routes -->
    <servlet>
        <servlet-name>getuser</servlet-name>
        <servlet-class>api.user.FindUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getuser</servlet-name>
        <url-pattern>/api/user/get</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>allusers</servlet-name>
        <servlet-class>api.user.AllUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allusers</servlet-name>
        <url-pattern>/api/users/all</url-pattern>
    </servlet-mapping>
    <!-- Transaction API Route -->
    <servlet>
        <servlet-name>transbyaccno</servlet-name>
        <servlet-class>api.transaction.TransactionByAccno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>transbyaccno</servlet-name>
        <url-pattern>/api/transaction/accno</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>transbydate</servlet-name>
        <servlet-class>api.transaction.TransactionByDate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>transbydate</servlet-name>
        <url-pattern>/api/transaction/date</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>alltransactions</servlet-name>
        <servlet-class>api.transaction.AllTransactions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>alltransactions</servlet-name>
        <url-pattern>/api/transactions</url-pattern>
    </servlet-mapping>
    <!-- Filter -->
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>filter.CorsFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Google Login -->
     <servlet>
        <servlet-name>googlelogin</servlet-name>
        <servlet-class>service.googleauth.GoogleLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>googlelogin</servlet-name>
        <url-pattern>/login/google</url-pattern>
    </servlet-mapping>
</web-app>